{{#renderBreadcrumbs this}}
<li>
    {{#if url}}
        <a href="{{relativeURL url}}">{{name}}</a>
    {{else}}
        <b>{{#titleCase name}}{{this}}{{/titleCase}}</b>
    {{/if}}
</li>
{{/renderBreadcrumbs}}
